.App{
    width: 100%;
}

.shop-items{
    width: 250px;
    height: 250px;
    background-color: #c0acee;
    border-radius: 100px;
    margin-top: 10px;
}

.shop-l{
    font-size: 40px;
    color: black;
    font-weight: 10;
}

.shop-o{
    font-weight: 10;
    font-size: 40px;
    color: #090202;
}

.header {
    width: 100%;
    height:80px;
    background:linear-gradient(to right, #1f0c34 0, #9432d9 100%) no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 100%;
    display: flex ;
    justify-content:space-between;
    box-sizing: border-box;
    text-align: center;
    flex-wrap: wrap;
    padding: 20px;
}

.search-input{
    width: 1300px;
    height: 30px;
    border-radius: 45px;
    outline:none;
}

.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #ffffff;
    animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}

.yourCustomClass div{
  background-color: red;
}
@keyframes lds-grid {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}